@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600');

@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "PFStardust", sans-serif;
    line-height: 2;
}

:root {
    --body-color: rgba(250,250,250);
    --color-white: rgba(250,250,250); 
    --text-color-second: rgba(38,37,37); 
    --first-color: rgba(45, 71, 189, 1); 
    --first-shadow: rgba(90,0,0,0.1); 
    
    --box-color: #fff; 
    --nav-color: #fff; 
    --nav-icon: #000; 
    --logo-color: #000;

    --text-color: #444444;
    --text-yellow: #FFE711;
    --color-white: #242526;

    --icon-color: #242526;
    --mode-color: #ccc;
    --point-color: #1C39BB;
    --hexagon-color: #FCFCFC;
    --case-image:  url('images/projects/case_white.png');
    --chip-border: #000;
}

body {background: var(--body-color);}

body.dark {
    --body-color: #202425;
    --box-color: #fff;

    --nav-color: #262425;
    --color-white: #fff;
    --text-color: #fff;

    --nav-icon: #fff;
    --logo-color: #fff;
    --icon-color: #1C39BB;
    --mode-color: #fff;    
    --hexagon-color: #202425;
    --case-image: url('images/projects/case_dark.png');
    --chip-border: #fff;

}

.continaer {width: 100%; position: relative;}
html {scroll-behavior: smooth;}

/* nav bar */
nav {position: fixed; display: flex; justify-content: space-between; width: 100%; height: 90px; line-height: 100px; background: var(--nav-color); padding-inline: 10%; transition: 0.3s; z-index: 100;}
.nav-logo {position: relative; display: flex;}
.nav-name {font-size: 30px; font-weight: 600; color: var(--logo-color)}
.nav-logo img {width: 100px; margin: auto; transition: 0.3s;}
.nav-logo img:nth-child(1) {opacity: 0;}
.nav-logo img:nth-child(2) {position: absolute; top: 50%; transform: translate(0, -50%);}
body.dark .nav-logo img:nth-child(1) {opacity: 1;}
body.dark .nav-logo img:nth-child(2) {opacity: 0;}

.nav-menu, .nav-menu-list {display: flex; gap: 30px;}
.nav-menu .nav-list {list-style: none; position: relative; display: flex;} 
.nav-link {text-decoration: none; color: var(--text-color); font-weight: 500; padding-inline: 15px; margin: auto;}
.nav-menu-btn {display: none;}
.nav-menu-btn i {font-size: 28px; cursor: pointer; color: var(--nav-icon)}
.active-link {position: relative; color: var(--first-color); transition: 0.3s;}
.active-link::after {content: ""; position: absolute; left: 50%; bottom: -15px; transform: translate(-50%, -50%); width: 100%; height: 2px; background: var(--first-color);}

/* mode */
.mode {display: flex; align-items: center; margin-right: -2%;}
.moon-sun {position: relative; display: flex; align-items: center; justify-content: center; height: 40px; width: 40px; border-radius: 30px; cursor: pointer; background: var(--mode-color);}
.moon-sun :is(#moon, #sun) {position: absolute; transition: .2s ease-in-out;}

#sun {opacity: 0;}

body.dark #sun {opacity: 1;}
body.dark #moon {opacity: 0;}

/* wrapper */
.wrapper {padding: 40px; min-width: 320px;}

/* featured box */
.featured-box {position: relative; display: flex; height: 100vh; min-height: 700px; justify-content: center;}

/* featured text*/
.featured-text {position: relative; display: flex; justify-content: center; flex-direction: column; width: 55%; margin-top: 10%; min-width: 200px; max-width: 830px;}
.featured-text .hello {font-size: 40px; font-weight: 500; margin-bottom: -20px; color: var(--text-color)}

.featured-charactor {margin: auto 0; max-width: 600px; max-height : 600px; width: 45%; cursor: pointer;}

.featured-name {font-size: 45px; font-weight: 600; margin-block: 20px; color: var(--point-color); margin-bottom: 10px;}
.typedText {color: var(--point-color); font-size: 50px; text-transform: capitalize;}
.text-info {color: var(--text-color)}

.text-info span {font-weight: bold; color: var(--text-yellow)}

.text-btn {display: flex; border-radius: 8px; cursor: pointer; gap: 20px;}
.text-btn .btn {border: none; color: #f4f4f4; box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);}
.btn {text-decoration: none; font-size: 15px; padding: 10px 20px; cursor: pointer; border-radius: 8px; background: var(--point-color); font-weight: 500; transition: all 0.5s ease;}

.btn i {margin-right: 10px;}
i {font-size: 16px;}

/* social icons */
.social_icons {display: flex; margin-top: 30px; margin-left: 5px; gap: 32px;}
.social_icons .icon {display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; color: var(--icon-color); border-radius: 50%; box-shadow:  0px 1px 5px 3px var(--point-color); cursor: pointer;}
.social_icons img {width: 16px;} 

.icon_circle {position: absolute; transform: transform(-50%, -50%); width: 40px; height: 40px; border-radius: 50px; animation: iconSlide 4s infinite alternate;}

@keyframes iconSlide {
    25% {
        border: 2px solid #e6d12e;
        left: 0;
    }
    50% {
        border: 2px solid #c40101;
        left: 70px;
    }
    75% {
        border: 2px solid #8749f2;
        left: 145px;
    }
    /* 100% {
        border: 2px solid #47ea15;
        left: 216px;
    } */
}

.social_icons:hover .icon_circle {animation-play-state: paused; cursor: pointer;}

/* featured image */
.featured-image {display: flex; justify-content: right; align-items: center; min-height: 80vh; width: 100%;}
.image {margin-top: 10%; width: 500px; height: 700px; border-radius: 40% 40% 40% 40%; overflow: hidden; animation: imgFloat 5s ease-in-out infinite;}

.image img {width: 500px; height: 700px; object-fit: cover;}

@keyframes imgFloat {
    50% {
        transform: translateY(50px);
    }
}

/* main */
.section {padding-block: 5em; max-width: 1430px; margin: 0 auto;}
.row {display: flex; width: 100%; gap: 50px; justify-content: space-between;}
.col.two-row {display: flex; flex-direction: column; justify-content: space-between;}
.col40, .col60 {display: flex;}
.col40 {width: 40%}
.col60 {width: 60%}
.top-header {text-align: center; margin-bottom: 5em;}
.top-header h1 {font-weight: 600; color : var(--color-white); margin-bottom : 10px;}

/* about-info */
.about-info {position: relative; display: flex; align-items: center; flex-direction: column; padding-block: 45px 45px; padding-inline: 35px; border: 2px solid #fff; background: transparent; box-shadow: 1px 8px 10px 2px var(--first-shadow); border-radius: 20px;}
.about-me * {-webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.25s ease; transition: all 0.25s ease;}
.about-info figcaption {width: 100%; padding: 25px; position: relative;}
.about-me .profile {border-radius: 50%; position: absolute; bottom: 100%; left: 20px; z-index: 1; background-color: #fff; max-width: 90px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);}
.about-me h2 {color: var(--text-color)}
.about-me p {margin-top: 10px; color: var(--text-color);}
.about-info .about-me-btn {text-decoration: none; font-size: 15px; padding: 10px 20px; cursor: pointer; border: none; border-radius: 20px; background: var(--point-color); color: #fff; margin-top: 20px; font-weight: 500; transition: all 0.5s ease;}

/* skill */
.skill {background: transparent; box-shadow: 1px 8px 10px 2px var(--first-shadow); padding : 10px 0px; border-radius: 20px; border: 2px solid #fff; display: flex; flex-direction: column; margin: 0 auto; position: relative;}  
.skill h2, .skill h3 {color: var(--text-color)}
.skill .skill-header {display: block; width: 100%; height: fit-content; text-align: center;}
.skill .skill-info {position: absolute; background-color: var(--body-color); padding: 20px; max-width: 300px; z-index: 1; transform: scale(0); transition: transform 0.3s ease; border-radius: 10px; opacity: 0.9; color: var(--text-color); border: 2px solid var(--text-color)}
.skill .skill-info.active {transform: scale(1); display:block;}
.skill .skill-container {display: flex; flex-direction: column; width: fit-content; margin: 30px auto;}

.skill-row {width: 100%; overflow:visible; display: flex;}
.skill-row:nth-child(even) {}
.skill-row:nth-child(odd) {margin-left: 60px}
.skill-row:nth-child(n+2){margin-top: -15px;}

.skill-row .hexagon-wrap {filter: drop-shadow(0px 0px 2px rgba(150, 150, 150, 0.5)); cursor: pointer;}
.skill-row .hexagon-wrap.active {filter: drop-shadow(0px 0px 5px var(--point-color));}
.skill-row .hexagon-wrap:nth-child(n+2) {margin-left: 17px;}
.skill-row .hexagon-wrap .line {width: 1px; height: 17px; position: absolute;}

/* connection line */
.css .line {border-left: 4px solid #E3800B;}
.typescript .line, .react .line, .react-native .line, .jquery .line, .javascript .line {border-left: 4px solid #F7DF1E;}
.rest_api .line {border-left: 4px solid #3EFFA2;}
.server .line, .nodejs .line, .spring .line, .expressjs .line {border-left: 4px solid #3ED1FF;}
.skill-row .hexagon-wrap .left-bottom { left: 20px; bottom: -2px; transform: rotateZ(30deg); }
.skill-row .hexagon-wrap .left { left: -11px; bottom: 50px; transform: rotateZ(90deg); }
.skill-row .hexagon-wrap .left-top {left: 20px; top: -2px; transform: rotateZ(-30deg); }
.skill-row .hexagon-wrap .right-bottom {right: 20px; bottom: -2px; transform: rotateZ(150deg); }
.skill-row .hexagon-wrap .right {right: -11px; bottom: 50px; transform: rotateZ(90deg); }
.skill-row .hexagon-wrap .right-top { right: 20px; top: -2px; transform: rotateZ(30deg); }

.hexagon {position: relative; width: 100px; height: 115px; background-color: var(--hexagon-color); clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); transform-origin: center;  z-index: 1;}
.empty {width: 100px; height: 115px;}
.hexagon img {position: absolute; max-width: 50%; max-height: 50px; margin: 0 auto; z-index: 2; left : 50%; top: 42.5%; transform: translate(-50%, -50%);}
.hexagon.two-line img {top: 40%;}
.hexagon h4 {position: absolute; left: 50%; bottom: -3%; transform: translate(-50%, -50%); z-index: 3; color: var(--text-color)}
.hexagon.two-line h4 {line-height: 10px; bottom: 10%; text-align: center; font-size: 14px; line-height: 100%;}
.styled-components h4 {bottom: 9% !important;}
.react-native h4 {bottom: 2%!important;}
.expressjs h4 {bottom: 2% !important;}
.skill-row .hexagon-wrap.figma {margin-left: 65px}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}




/* Projects box */
.project-container {display: flex; width: 100%; justify-content: space-between; gap: 20px; flex-wrap: wrap;}
.project-container .chip-wrap {transform: perspective(800px); transform-style: preserve-3d; height: fit-content; margin: 20px; padding : 5px; width: 270px; height: 420px; display: flex; }
.project-container .chip-wrap::before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: var(--case-image); background-size: cover; transform: translateZ(-30px); z-index: -1; transform-origin: center center;}
.project-container .chip-wrap span.empty {margin: auto; color: var(--text-color); padding-top: 50px; width: fit-content;}
.project-container .chip-wrap .chip {width:240px; height: 340px; background-color: #3B3B3B; transition: 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95); border-radius: 20px; box-shadow: rgba(0, 0, 1px, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0; padding : 20px 15px 30px 15px; position: relative; overflow: hidden; margin-top: 60px; margin-left: 10px; transition: margin-top 0.3s ease-in-out; cursor: pointer; border: 2px solid #3B3B3B; box-sizing: border-box;}
.project-container .chip-wrap .chip.active {margin-top: 10px;}
.project-container .chip-wrap .chip:hover {border: 2px solid var(--chip-border);}
.project-container .chip-wrap .chip::after {content: ''; display: block; width: 240px; height: 340px; background-color: transparent; position: absolute; top: 0; left: 0; border-radius: 20px; border: 17.5px solid #3B3B3B; border-bottom: 50px solid #3B3B3B; box-sizing: border-box; z-index: 1;}
.chip .project-img {width: 100%; transform-origin: center center; position: absolute; left: 0%; top: 20%; z-index: 0;}
.chip #tetris {width: 120%; left: -5%;}

.chip .chip-bg {opacity: 0.5; position: absolute; top: -20px; left: -20px; width: 100%; height: 100%; padding: 20px; background-repeat: no-repeat; background-position: center; background-size: cover;   transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95); pointer-events: none;}
.chip .chip-info {width: 210px; height: 100%; position: relative; border: 4px solid #000; border-radius: 12.5px; z-index: 2;}
.chip .chip-info::before {content: ''; width: 33%; height: 7.5px; top: -7.5px; background-color: #000; position: absolute; left: 33%;}
.chip .chip-info::after {content: ''; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 12.5px solid #000; position: absolute; bottom: -25px; left: 50%; transform: translateX(-50%); z-index: 2;}
.chip .chip-info .header {width: 100%; height: 20%; background-color: #D60C12; display: flex; justify-content: center; border-radius: 7.5px 7.5px 0 0;}
.chip .chip-info .header img {height: 60%; margin: auto 0;}
.chip .chip-info .header .text {display: flex; flex-direction: column; color : #eee; margin: auto 0 auto 10px;}
.chip .chip-info .header .text span:nth-child(1) {font-size: 0.7em; line-height: 1.4em; letter-spacing: 6.7px;}
.chip .chip-info .header .text span:nth-child(2) {font-size: 1.4em; line-height: 1.2em; font-weight: bold;}
.chip .chip-info .body {position: relative; width: 100%; height: 65%; background-color: transparent; display: flex; overflow: hidden;}
.chip .chip-info .body .bottom_logo {position: absolute; bottom: 5%; right: 5%; width: 40%; height: 20px; border-radius: 10px; border: 3px solid #eee; display: flex;}
.chip .chip-info .body .bottom_logo span { font-size: 0.8em; line-height: 0; margin: auto; font-weight: bold; color: #eee;}
.chip .chip-info .body .bottom_logo span:after{content: 'H'; border: 1px solid #eee; font-size: 3px; border-radius: 50%; color: #eee; padding: 2px 1px 0.5px 1px; position: absolute; aspect-ratio: 1; text-align: center; top: 1px; font-weight: bold;}
.chip .chip-info .bottom {width: 100%; height: 15%; background-color: #201A24;  display: flex; border-radius: 0 0 7.5px 7.5px;}
.chip .chip-info .bottom span {color: white; margin: auto; font-size: 1.5em; letter-spacing: 0.3em;}
.top-header span {color: var(--text-color); }


/* Contact info */
.contact-info {position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 0; padding: 20px 40px; width: 100%; height: 380px; border: 2px solid #fff; border-radius: 20px; box-shadow: 1px 8px 10px 2px var(--first-shadow); overflow: hidden; cursor: pointer;}
.contact-info > h2 {color: var(--text-color); margin-bottom: 20px;}
.contact-info > p {display: flex; align-items: center; gap: 10px; color: var(--text-color); margin-block: 5px;}
.contact-info::after {color: var(--point-color);}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {color: #fff; z-index: 2;}

/* contact form */
.form-control {display: flex; flex-direction: column; gap: 10px; width: 100%;}
.form-inputs {display: flex; gap: 10px; width: 100%;}
.input-field {width: 50%; height: 55px; background: transparent; border: 2px solid #aaa; padding-inline: 20px; border-radius: 10px; outline: none;}
.input-subject {width: 100%; height: 55px; background: transparent; border: 2px solid #aaa; border-radius: 10px; padding-inline: 20px; margin-bottom: 10px; outline: none;}
textarea {width: 100%; height: 250px; background: transparent; border: 2px solid #aaa; padding: 15px 20px; color: var(--text-color); border-radius: 10px; outline: none; resize: none;}
.form-button > .btn {display: flex; align-items: center; justify-content: center; margin-left: 40%; border: none; background: var(--point-color); padding: 10px 20px; border-radius: 30px; color: #fff;}
.form-button i {font-size: 18px; rotate: -45deg; margin-left: 10px;}

/* Footer Box */
footer {display: flex; justify-content: center; align-items: center; flex-direction: column; row-gap: 30px; background: var(--body-color); padding-block: 40px 60px;}
.middle-footer .footer-menu {display: flex;}
.footer_menu_list {display: flex;}
.footer_menu_list a {text-decoration: none; font-weight: 500; margin-inline: 20px;}
.footer-social-icons {display: flex; gap: 30px; color: var(--color-white);}
.bottom-footer {font-size: 14px; margin-top: 10px; color: var(--color-white);}



/* media query = 1024px */
@media only screen and (max-width: 1024px){
    .featured-text {padding: 0;}
    .image,
    .image img {width: 320px; height: 320px;}
    /* .skill-row:nth-child(odd) {margin-left: 45px}
    .skill-row:nth-child(n+2){margin-top: -12px;}

    .skill-row .hexagon-wrap {filter: drop-shadow(0px 0px 2px rgba(150, 150, 150, 0.5)); margin-left: 12px;}
    .skill-row .hexagon-wrap .line {width: 1px; height: 17px; position: absolute;} */
}

/* media query = 900px */
@media only screen and (max-width: 900px){
    .nav-menu-btn {display: none;}
    .nav-menu.responsive {left: 0;}
    .nav-menu {position: fixed; top: 0; left: -100%; flex-direction: column; justify-content: center; align-items: center; background: rgba(250,250,250,0.7); backdrop-filter: blur(5px); width: 300px; border-radius: 0px 30px 0px 30px; min-height: 450px; height: 100vh; transition: 0.3s;}
    .nav-menu-list {flex-direction: column;}
    .nav-menu-btn {display: flex; align-items: center; justify-content: center;}
    .featured-box {flex-direction: column; justify-content: center;}
    .featured-text {width: 100%; order: 2; justify-content: center; align-content: flex-start; min-height: 60vh;}
    .social_icons {margin-top: 2em;}
    .featured-image {order: 1; justify-content: center; min-height: 150px; width: 100%; margin-top: 65px;}
    .image,
    .image img {width: 150px; height: 150px;}
    .row {display: flex; flex-direction: column; justify-content: center; gap: 50px;}
    .col {display: flex; justify-content: center; width: 100%;}
    .about-info,
    .contact-info,
    .skill {width: 100%;}
    .project-container {justify-content: center;}
    .project-box {width: 80%;}
    .mode {display: flex; align-items: center; margin-left: 55%;}
    .featured-box  {height: fit-content;}
    .featured-text {min-height: fit-content; margin-top: 0;}
    .featured-charactor {margin: 0; width: 100%; margin: auto;}
    .wrapper {padding: 20px;}
}

/* media query = 540px */
@media only screen and (max-width:  540px) {
    .featured-name {font-size: 40px;}
    .project-box {width: 100%;}
    .form-inputs {flex-direction: column;}
    .input-field {width: 100%;}
    .mode {margin-left: 35%;}

    .skill-row:nth-child(odd) {margin-left: 40px}
    .skill-row:nth-child(n+2){margin-top: -10px;}
    .skill-row .hexagon-wrap:nth-child(n+2) {margin-left: 9px;}
    .skill-row .hexagon-wrap.figma {margin-left: 45px}
    .skill-row .hexagon-wrap .line {width: 1px; height: 17px; position: absolute;}
    .empty {width: 70px; height: 80px;}

    .hexagon {width: 70px; height: 80px;}
    .hexagon img {max-width: 50%; max-height: 50%;}
    .hexagon h4 {font-size: 12px; bottom: 0%;}
    .hexagon.two-line h4 {font-size: 11px;}

    .skill-row .hexagon-wrap .line {width: 1px; height: 10px;}
    .skill-row .hexagon-wrap .left-bottom { left: 12.5px; bottom: 0px; transform: rotateZ(30deg); }
    .skill-row .hexagon-wrap .left { left: -5px; bottom: 35px; transform: rotateZ(90deg); }
    .skill-row .hexagon-wrap .left-top {left: 12.5px; top: 0px; transform: rotateZ(-30deg); }
    .skill-row .hexagon-wrap .right-bottom {right: 12.5px; bottom: 0px; transform: rotateZ(150deg);}
    .skill-row .hexagon-wrap .right {right: -5px; bottom: 35px; transform: rotateZ(90deg); }
    .skill-row .hexagon-wrap .right-top { right: 12.5px; top: 0px; transform: rotateZ(30deg);}
}
